@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display|DM+Serif+Text&display=swap");
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,400i|Merriweather&display=swap');
body {
  font-family: "IBM Plex Serif", serif;
  margin-left: auto;
  margin-right: auto;
  width: 92%;
  max-width: 960px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

th {
  text-align: inherit;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

.--bold {
  font-weight: 700;
}

button {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  padding: 1em 1em;
}
button:hover {
  cursor: pointer;
  background-color: black;
  border: 2px solid black;
  color: white;
  transition: all 0.3s ease;
  text-decoration: underline;
}
